.card-word {
  width: 20rem;
  height: 20rem;
  max-width: 80dvw;
  max-height: 40dvh;
  padding: 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #eee;
  background-color: #222;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  text-align: center;
}
